@font-face {
    font-family: "sendinblue";
    src: url(../files/Nicholas\ Bold.ttf);
}

@font-face {
    font-family: "footer";
    src: url(../files/Poppins-Light.ttf);
}

body {
    font-family: "sendinblue", sans-serif;
}

* {
    margin: 0 0 0 0;
}
#navbar {
    display: flex;
    z-index: 100;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 1% 10%;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#navbar>img {
    width: 15%;
}

#navbar>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar>div:first-of-type {
    width: 30%;
    font-size: 18px;
    color: grey;
}

#navbar>div:nth-of-type(2) {
    font-size: 17px;
    width: 15%;
}


#navbar button:hover {
    background-color: #044A75;
    cursor: pointer;
}

#navbar button {
    font-size: 18px;
    color: white;
    background-color: #0092FF;
    border: 0;
    padding: 20px;
    border-radius: 40px;
}

#footer {
    padding: 1% 17%;
    font-family: "footer", sans-serif;
    position: relative;
    bottom: 0px;
    background-color: white;
}

#one {
    display: flex;
    justify-content: space-between;
}

#logof {
    width: 17%;
    display: block;
}

#socials {
    display: flex;
    width: 30%;

}

#socials>img {
    width: 12%;
    margin: 2px 5px;
}

#two {
    display: flex;
    margin: auto;
    margin-top: 5%;
    
}

#two>div:nth-of-type(1) {
    display: flex;
    width: 40%;
    justify-content: center;
}

#person {
    width: 60%;
    margin: 10px;
}

#two>div:nth-of-type(2) {
    display: flex;
    width: 40%;
}

#text {
    width: 70%;
    font-size: 14px;
}

.head {
    color: #091E3F;
    font-size: 17px;
    font-weight: bold;

}

#two>div:nth-of-type(2) {
    justify-content: space-around;
    width: 55%;
    padding-bottom: 6%;
}

#three {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding-top: 2%;
}