body{
  margin:0;
}
#navbar{
  background-color: rgb(23, 85, 143);
  box-shadow: none;
}
.one{
  background-color: rgb(23, 85, 143);
  text-align: center;
  color:white;
  
}
#top>h1{
  font-size: 78px;
  padding-top: 50px;
}
#top>p{
  font-size: 22px;
  width:60%;
  margin: auto;
  margin-top:0px;
}
.one>div>img{
  margin-top: 20px;
}
.two{
  color:white;
  background-color: rgb(23, 85, 143);
  width:88%;
  margin: auto;
  margin-top: 100px;
  display:flex;
  height:140px;
}
.two>div{
  display:flex;
  margin: auto;
}
.two>div>div>img{
  width:20px;
  margin-top: 20px;
  
}
.three{

  width:80%;
  display:flex;
  margin:auto;
  margin-top: 120px;
}
.three>div:last-child{
  margin-left: 40px;
}
.three>div>h1{
  font-size: 50px;
  margin-bottom:30px;
}
.three>div>p{
  font-size: 19px;
  color: rgb(92, 90, 90);
  margin-bottom: 20px;
}
.three>div>p:nth-child(4){
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.three>div>p>a{
  text-decoration: none;
}
.three>div>ul>li{
  font-size: 19px;
}
.three>div>a{
  font-size: 19px;
  text-decoration: none; 
  color:#044A75;
}
.four{
  width:80%;
  display:flex;
  margin: auto;
  margin-top: 100px;

}
.four>div:last-child{
  margin-left: 40px;
}
.four>div>h1{
  font-size: 50px;
  margin-bottom: 30px;
}
.four>div>p{
  font-size: 19px;
  color: rgb(92, 90, 90);
  margin-bottom: 20px;
}
.four>div>ul>li{
  font-size: 19px;
}
.four>div>ul{
  margin-bottom: 60px;
}
.four>div>a{
  font-size: 19px;
  text-decoration: none;
}
.five{

  width:80%;
  display:flex;
  margin:auto;
  margin-top: 50px;
}
.five>div:last-child{
  margin-left: 40px;
}
.five>div>h1{
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 30px;
}
.five>div>p{
  font-size: 19px;
  color: rgb(92, 90, 90);
  margin-bottom: 20px;
}

.five>div>ul>li{
  font-size: 19px;
}
.five>div>ul{
  margin-bottom: 60px;
  margin-left: 60px;
}
.five>div>a{
  font-size: 19px;
  text-decoration: none;
}
.six{
  width:35%;
  margin: auto;
  margin-top: 100px;
  margin-left:10%;
}
.six>div>h1{
  font-size: 50px;
  margin-bottom: 30px;
}
.six>div>p{
  font-size: 19px;
  color: rgb(92, 90, 90);
  margin-bottom: 20px;
}
.six>div>ul>li{
  font-size: 19px;
}
.six>div>ul{
  margin-bottom: 60px;
  margin-left: 60px;
}
.six>div>a{
  font-size: 19px;
  text-decoration: none;
}
#seven{
  width:50%;
  margin: auto;
  margin-top: 100px;
  
}
#seven>h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 100px;
}
#seven>div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 100px;
}
.ione{
  width:50%;
  margin: auto;
  text-align: center;
}
.ione>p{
  padding-top: 40px;
}
.ione>h2{
  padding-top: 10px;
}
.ione>p:last-child{
  padding-top: 25px;
  font-size: 18px;
  margin-bottom: 28px;
}
.ione>div{
  /* display:grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: -50px; */
  display:flex;
  column-gap: 10px;
  margin: auto;
  padding-top: 22px;
  margin-left:40%;
}
.ione>div>img{
  width:20px;
  height:20px;
  
}
#nine>div>p{
  color:blue;
  
}
#nine>h3{
  padding-top: 25px;
}
.itwo{
  display:flex;
  width:50%;
  margin:auto;
  margin-top: 22px;
  margin-bottom: 22px;
  justify-content: space-between;
}

#outer{
  position:relative;
  
}
#date{
  width:50%;
  
  margin: auto;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  gap:22px 18px;
}
#date>h5{
  color:rgb(180, 171, 171);
  font-size: 18px;
}
#next{
  position:absolute;
  top:47%;
  left:41%;
  
}
#next>button{
  border-radius: 25px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#next>button>p:last-child{
  font-size: 16px;
  color:rgb(57, 57, 235);
  font-weight: bold;
  margin-top: 11px;
}
/* #date1{
  width:50%;
  
  margin: auto;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  gap:22px 18px;
}
#date1>h5{
  color:rgb(180, 171, 171);
  font-size: 18px;
}
#next1{
  position:absolute;
  top:50%;
  left:41%;
  
}
#next1>button{
  border-radius: 25px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#next1>button>p:last-child{
  font-size: 16px;
  color:rgb(57, 57, 235);
  font-weight: bold;
  margin-top: 11px;
}
#date2{
  width:50%;
  
  margin: auto;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  gap:22px 18px;
}
#date2>h5{
  color:rgb(180, 171, 171);
  font-size: 18px;
}
#next2{
  position:absolute;
  top:81.5%;
  left:26%;
  
}
#next2>button{
  border-radius: 25px;
  border:none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#next2>button>p{
  font-size: 12px;
  padding:20px 110px;
  margin-top: 11px;
} */
.ithree{
  display:flex;
  width:50%;
  margin:auto;
  margin-top: 40px;
}
.ithree>img{
  width:15px;
  height:15px;
  padding-top: 16px;
  margin-top: -15px;
}