@font-face {
    font-family: "sendinblue";
    src: url(../files/Nicholas\ Bold.ttf);
}

@font-face {
    font-family: "footer";
    src: url(../files/Poppins-Light.ttf);
}

* {
    font-family: "footer", sans-serif;
}

body {
    overflow-y: hidden;
}

#cont1 {
    overflow: hidden;
    width: 100%;
}

#cont1>img {
    width: 28%;
    float: right;
}

#signup {
    float: left;
    width: 63%;
    overflow-y: scroll;
    padding: 3% 3%;
    height: 670px;
}

#signup>img {
    width: 25%;
}

#seprator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
}

hr {
    width: 46%;
}

#form {
    width: 60%;
    margin: auto;
}

h1 {
    /* font-family: "sendinblue", sans-serif; */
    width: 700px;
    font-size: 40px;
    color: var(--sib-color_content-primary, #1f2d3d);
    font-family: var(--sib-typo_font-family-heading, "Publico", "Times New Roman", serif, "system-ui", "-apple-system");
}

.bypass {
    display: flex;
    border: 1px solid #0092FF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 0.5% 0;
    margin-bottom: 2%;
    border-radius: 12px;

}

.bypass>img {
    width: 4%;
    margin-right: 5px;
}

span {
    color: red;
}

.tag {
    color: black;
    font-weight: 800;
}

input {
    width: 94%;
    margin: auto;
    padding: 17px;
    margin-top: 1%;
    border-radius: 12px;
}

#signupbtn {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 7%;
    padding: 17px;
    border: 0;
    background-color: #0092FF;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 800;
}

#signupbtn:hover {
    cursor: pointer;
    background-color: #044a75;
}


#form>p:nth-child(1){
    color: var(--sib-color_content-primary, #1f2d3d);
    font-family: var(--sib-typo_font-family--body, "Roboto-Regular", "system-ui", "-apple-system", sans-serif);
}
