#container1 {
    height: 550px;
    display: flex;
    margin-top: 100px;
    gap: 100px;
}

#exp1 {
    height: 450px;
    width: 550px;
    margin-top: 100px;
    margin-left: 150px;
}

#vid1 {
    height: 450px;
    width: 500px;
    margin-top: 100px;
}

#Bring {
    font-family: PublicoHeadline-Bold-Web;
    color: #091E3F;
    font-size: 60px;
    line-height: 60px;
}

#smallexp {
    margin-top: 40px;
    padding-left: 30px;
    border-left: 2px solid #ffd201;
    font-family: sans-serif;
    color: #606469;
    font-size: 20px;
    line-height: 30px;
}

#container2 {
    margin-top: -60px;
    height: 550px;
    display: flex;
    gap: 100px;
}

#exp2 {
    height: 450px;
    width: 500px;
    margin-top: 100px;
    margin-left: 250px;

}

#Bring2 {
    font-family: PublicoHeadline-Bold-Web;
    color: #091E3F;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 35px;
}

#smallexp2 {
    margin-top: 40px;
    color: #606469;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    color: #606469;
    font-size: 19px;
    line-height: 26px;
    box-sizing: inherit;
}

#photo1>img {
    height: 400px;
    margin-top: 70px;
}

#container3 {
    height: 550px;
    display: flex;
    gap: 70px;
    margin-top: -60px;

}

#exp3 {
    height: 450px;
    width: 500px;
    margin-top: 100px;

}

#Bring3 {
    font-family: PublicoHeadline-Bold-Web;
    color: #091E3F;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 35px;
    width: 400px;

}

#smallexp3 {
    margin-top: 40px;
    font-family: sans-serif;
    color: #606469;
    -webkit-font-smoothing: antialiased;

    font-size: 19px;
    line-height: 26px;
    box-sizing: inherit;

}

#photo2>img {
    height: 400px;
    margin-top: 100px;
    margin-left: 250px;


}

#container4>h1 {

    font-family: PublicoHeadline-Bold-Web;
    color: #091E3F;
    font-size: 60px;
    line-height: 60px;
    width: 100%;


}

#container4 {
    margin-top: 100px;

    text-align: center;
}

#container4>p {
    margin-top: 20px;
    font-family: sans-serif;
    color: #606469;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 26px;

}

video {
    margin-top: -80px;
    width: 450px;
    height: 450px;
}



#container6 {
    margin-top: 100px;
    width: 100%;
    height: 700px;

}

#photo4 {
    margin: auto;
    height: 100%;
    width: 60%;
    background-color: #FFD9D4;
    display: flex;
}

#photo4>img {
    width: 500px;
    height: 500px;
    position: relative;
    left: -120px;
}



#exp {
    width: 420px;
    height: 700px;
}

#exp>h1 {
    font-family: PublicoHeadline-Bold-Web;
    color: #091E3F;
    font-size: 60px;
    line-height: 60px;
}

#exp>p {
    font-family: sans-serif;
    color: #606469;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#exp>a {
    color: #0092FF;
    font-family: sans-serif bold;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;

}

#container7 {
    margin: auto;
    border: 2px solid gray;

    height: 200px;
    padding: 50px;
    width: 70%;
    margin-top: 150px;
    border-left: none;
    border-right: none;
    margin-bottom: 100px;

}

#car {
    height: 190px;
    width: 100%;
    display: flex;
    gap: 150px;
}

#car>img {
    width: 120px;
    height: 120px;
    padding: 30px;

}

#car>h1 {
    width: 320px;
    padding: 20px;
    font-size: 40px;

}

#car>button {
    height: 60px;
    background-color: #0092FF;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 30px;
    margin-top: 70px;
    font-size: 20px;
    width: 250px;


}

#car>button:hover {
    background-color: #044A75;
}

#container8>h1 {

    font-family: PublicoHeadline-Bold-Web;
    color: #091E3F;
    font-size: 60px;
    line-height: 60px;
    width: 650px;
    margin: auto;
}

#container8 {
    margin-bottom: 100px;

}

#footer {
    margin-top: 50px;

}

#container9 {
    margin: auto;
    height: 90rem;
    width: 85rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}


#container9>div {
    height: 850px;
}

#container9>div:nth-child(1) {
    background-color: #FFD9D4;

}

#container9>div:nth-child(2) {
    background-color: #0092FF;
    ;
}

#container9>div:nth-child(3) {
    background-color: #044A75;
}

#container9>div:nth-child(4) {
    background-color: #FFD201;
}

#container9>div:nth-child(5) {
    background-color: #091E3F;
}

#container9>div:nth-child(6) {
    background-color: #0092FF;
}

#container9>div>img {

    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;


}

#container9>div>button {
    text-align: center;
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 140px;
    margin-top: 20px;

}


#container9_mini {
    margin: auto;
    width: 370px;
    position: absolute;
    background-color: #FFD9D4;
    left: 6.7rem;
    top: 260rem;
    font-family: sans-serif;
    color: #606469;
    font-size: 22px;
    height: 340px;


}

#container9_mini>p {
    margin-top: 50px;
    margin-left: 30px;

}

#logo {
    color: #091E3F;
    font-size: 12px;
    line-height: 19px;
    font-family: sans-serif;
    display: flex;
    margin-top: 80px;
    margin-left: 30px;
}

#logo>img {
    width: 50px;
}

#name>p {
    font-size: 15px;
}

#name {
    margin-left: 20px;
}

#container9_mini1 {
    margin: auto;
    width: 380px;
    position: absolute;
    background-color: #0092FF;
    left: 36.7rem;
    top: 260rem;
    font-family: sans-serif;
    color: white;
    font-size: 22px;
    height: 340px;


}

#container9_mini1>p {
    margin-top: 50px;

}

#logo1 {
    color: white;
    font-size: 12px;
    line-height: 19px;
    font-family: sans-serif;
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
}

#logo1>img {
    width: 40px;
    height: 40px;

}

#name1>p {
    font-size: 15px;
}

#name1 {
    margin-left: 20px;
}



#container9_mini2 {
    margin: auto;
    width: 380px;
    position: absolute;
    background-color: #044A75;
    left: 64.7rem;
    top: 260rem;
    font-family: sans-serif;
    color: white;
    font-size: 22px;
    height: 340px;


}

#container9_mini2>p {
    margin-top: 50px;

}

#logo2 {
    color: white;
    font-size: 12px;
    line-height: 19px;
    font-family: sans-serif;
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
}

#logo2>img {
    width: 60px;
    height: 40px;

}

#name2>p {
    font-size: 15px;
}

#name2 {
    margin-left: 20px;
}




#container9_mini3 {
    margin: auto;
    width: 380px;
    position: absolute;
    background-color: #FFD201;
    left: 7.7rem;
    top: 312.8rem;
    font-family: sans-serif;
    color: #606469;
    font-size: 22px;
    height: 340px;


}

#container9_mini3>p {
    margin-top: 50px;

}

#logo3 {
    color: #091E3F;
    font-size: 12px;
    line-height: 19px;
    font-family: sans-serif;
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
}

#logo3>img {
    width: 55px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

#name3>p {
    font-size: 15px;
}

#name3 {
    margin-left: 20px;
}


#container9_mini4 {
    margin: auto;
    width: 380px;
    position: absolute;
    background-color: #091E3F;
    left: 36.7rem;
    top: 312.8rem;
    font-family: sans-serif;
    color: white;
    font-size: 22px;
    height: 340px;


}

#container9_mini4>p {
    margin-top: 50px;

}

#logo4 {
    color: white;
    font-size: 12px;
    line-height: 19px;
    font-family: sans-serif;
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
}

#logo4>img {
    width: 60px;
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

#name4>p {
    font-size: 15px;
}

#name4 {
    margin-left: 20px;
}




#container9_mini5 {
    margin: auto;
    width: 380px;
    position: absolute;
    background-color: #0092FF;
    left: 64.5rem;
    top: 312.8rem;
    font-family: sans-serif;
    color: white;
    font-size: 22px;
    height: 340px;


}

#container9_mini5>p {
    margin-top: 50px;

}

#logo5 {
    color: white;
    font-size: 12px;
    line-height: 19px;
    font-family: sans-serif;
    display: flex;
    margin-top: 80px;
    margin-left: 10px;
}

#logo5>img {
    width: 45px;
    height: 23px;
    margin-right: 10px;
    margin-top: 10px;
}

#name5>p {
    font-size: 15px;
}

#name5 {
    margin-left: 20px;
}

#container9 div>button {
    border-radius: 10px;
}


#container9 div:nth-child(2)>button {
    margin-left: 10rem;
}

#container9 div:nth-child(3)>button {
    margin-left: 11rem;
}

#container9 div:nth-child(4)>button {
    margin-left: 11rem;
}

#container9 div:nth-child(5)>button {
    margin-left: 11rem;
}

#container9 div:nth-child(6)>button {
    margin-left: 11rem;
}





#conatiner10 {
    background-color: #ffd9d4;
    display: flex;
    position: relative;
    justify-content: center;
    padding: 5%;
    height: 340px;
    margin-top: 400px;
}

#conatiner10>img {
    mix-blend-mode: darken;
    width: 30%;

}

#conatiner10>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#conatiner10>div>button {
    margin-left: -210px;
    padding: 18.5px 24px;
    font-weight: 700;
    font-size: 17px;
    color: white;
    background-color: #0092FF;
    border: 0;
    border-radius: 40px;
}

#conatiner10 h1 {
    font-size: 53px;
    line-height: 50px;
    color: #091e3f;


}

#conatiner10>div>p {
    font-family: sans-serif;
    color: #606469;
    font-size: 22px;
    margin-top: 10px;
    width: 550px;
    margin-left: 160px;
    margin-bottom: 50px;
}

#conatiner10>div>button:hover {
    background-color: #044A75;
}


/* @media all and (min-width:500px) and (max-width:1500px) {

    #container1 {
        flex-direction: column;
        height: 1000px;
        width: 100%;
        text-align: center;
        margin-left: 70px;
        justify-content: center;
        justify-items: center;
    }

    #exp1 {
        width: 700px;
        margin: auto;


    }

    #vid1 {
        margin-left: 250px;

        margin: auto;
    }

    iframe {
        width: 550px;
        height: 550px;
        margin-top: -200px;
    }

    #container2 {
        flex-direction: column;
        height: 1000px;
        width: 100%;
        text-align: center;
        margin-left: 70px;
        justify-content: center;
        justify-items: center;

    }

    #exp2 {

        margin-left: 250px;



    }

    #Bring2 {
        width: 700px;
        margin: auto;
        text-align: center;

    }

    #smallexp2 {
        width: 700px;
        text-align: center;

    }

    #photo1>img {
        width: 650px;
        height: 650px;
        margin-top: -150px;
    }

    #container3 {

        flex-direction: column;
        height: 1000px;
        width: 100%;
        text-align: center;
        margin-left: 70px;
        margin-top: 50px;
        justify-content: center;
        justify-items: center;

    }

    #Bring3 {
        width: 700px;
        margin: auto;
        text-align: center;

    }

    #smallexp3 {
        width: 700px;
        text-align: center;


    }

    #photo2>img {
        width: 650px;
        height: 650px;
        margin-left: 5px;

    }

    #exp3 {
        margin-top: -50px;
        margin-left: 250px;
    }

    #container4 {
        margin-left: 150px;
        margin-top: 40px;
    }
} */